name: docker-build-check
run-name: ${{ github.actor }} is building the Dockerfile
on: 
  pull_request:
    types: [opened, edited]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: docker build -t oma-kontti .